/* styles/globals.css */
@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Sofia&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: Arial, sans-serif;
  color: var(--text-color-light);
  background: var(--input-bg-light);
}

@media (prefers-color-scheme: dark) {
  body {
    color: var(--text-color-dark);
    background: var(--input-bg-dark);
  }
}

input,
textarea {
  color: var(--text-color-light);
  background: var(--input-bg-light);
  border-color: var(--input-border-light);
}

@media (prefers-color-scheme: dark) {
  input,
  textarea {
    color: var(--text-color-dark);
    background: var(--input-bg-dark);
    border-color: var(--input-border-dark);
  }
}

.text-error {
  color: var(--error-color);
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #e2e8f0;
  border-radius: 8px;
  transition: background 0.2s;
  border: 2px solid #f8fafc;
}
::-webkit-scrollbar-thumb:hover {
  background: #cbd5e1;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
::-webkit-scrollbar-button:single-button {
  display: none;
  width: 0;
  height: 0;
}

@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-thumb {
    background: #475569;
    border: 2px solid #1e293b;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #334155;
  }
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #e2e8f0 transparent;
}
@media (prefers-color-scheme: dark) {
  * {
    scrollbar-color: #475569 transparent;
  }
}
